<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registro de autores</title>
</head>
<body>

    <h2>Registrar Autores<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Sobrenome" name="surname">
        <input type="date" placeholder="Data" name="date">
        <button type="submit">Submit</button>
    </form> 

</body>
</html>